@import 'constant';
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: $hatterszin;
    line-height: 1.6;
    text-align: center;
}
nav{
    a{
    color:$cimszin;
    text-decoration: none;
    }
    li{
        border: solid thin $keretszin;
        border-radius: 100px;
        font-family: $betutipus;
        font-size:smaller;
        border-left: none;
        background: linear-gradient(to right, #FFDFDD,#a496b4);
    }
}
p, footer{
    a{
        color:$cimszin;
        text-decoration: none;
        }
}
span, ul{
    font-family: $betutipus;
    font-size: 1.5em;
}
p, li{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size:1em;
}
article{    
    width: 90vw;
    margin: 10px auto; 
    h2{
        font-family: $betutipus;
        font-size: 2.5em;
    }   
    header{
        display:flex;
        justify-content: space-between;
        align-items: center;
        color: $cimszin;
        margin-bottom: 10px;
        font-family: $betutipus;
        font-size: 2em;
        ul{
            display:flex;
            list-style-type: none;
        }
        li{
            padding:15px;
            font-family: $betutipus;
        }
    }
    section{
        color: $szovegszin;
        text-align: justify;
        ol{
            margin-left: 2em;
        }
        li{
            display: block;
            
            .alcim{
                font-style: normal;
                font-weight:bold;
                color:#4E5180;
            }
            img{
                
                width:20vw;
                margin:20px;
                float: left;
                border-radius: 10px;
                border: thick solid $szovegszin;
            }

            }
        }
    }
    footer{
        border-top: $keretszin solid thin;
        font-size:1.5em;
        color: $szovegszin;
        li{
            list-style-type: none;
            font-size:0.6em;
            a{
                text-decoration: none;
                color: #4E5180;
            }
            a:hover{
                color:rgba(74, 0, 171, 0.662);
            }
        }
    }
